@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MyLayoutPro.cshtml";
}
<div class="center_content">
<h3>About</h3>


    <h2>Bitf11A058@pucit.edu.pk</h2>
    <h2>Punjab University Lhr</h2>


    </div>