@{
    ViewBag.Title = "f";
    Layout = "~/Views/Shared/_MyLayoutPro.cshtml";
}

<h2>Furniture Category</h2>


      <div class="center_content">
   	
<div class="center_title_bar">Latest Products</div>
    
    	
<div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Relaxing Chair</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/f2.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">12000</span></div>  
    <div class="prod_status"><span class="price">Good Condition</span></div>  
    <div class="prod_price"><span class="price">Quantity:2</span></div>                        
            
</div>
                     
        
</div>





          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Bed Set</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/f3.png" alt="" title="" border="0" /></a></div>
                                       
            <div class="prod_price"><span class="price">23000</span></div>  
    <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:1</span></div>                        
         </div>
        
</div>



 <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Dressing Table</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/f5.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">74000</span></div>                        
           
    <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:5</span></div>  
</div>                     
        
</div>






          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Relaxing Chair</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/f12.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">12000</span></div>                        
            
 <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:1</span></div>  

</div>                     
        
</div>



          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Drawing Room Set</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/f11.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">65000</span></div>                        
            
 <div class="prod_status"><span class="price">Excellent</span></div>  
    <div class="prod_price"><span class="price">Quantity:5</span></div>  
</div>                     
        
</div>


          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Relaxing Chair</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/f2.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">18000</span></div>                        
             <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:2</span></div>  
</div>                     
        
</div>



          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Relaxing Chair</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/f2.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">11000</span></div>                        
            
 <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:1</span></div>  
</div>                     
        
</div>



          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Relaxing Chair</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/f2.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">55000</span></div>                        
            
 <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:2</span></div>  
</div>                     
        
</div>



          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Relaxing Chair</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/f2.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">12000</span></div>                        
            
 <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:1</span></div>  
</div>                     
        
</div>
    
    
 
 
          
          </div>
    
    