@{
    ViewBag.Title = "j";
    Layout = "~/Views/Shared/_MyLayoutPro.cshtml";
}

<h2>Jewlerry Category</h2>


      <div class="center_content">
   	
<div class="center_title_bar">Latest Products</div>
    
    	
<div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Bangles</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/j17.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">12000</span></div>  
    <div class="prod_status"><span class="price">Good Condition</span></div>  
    <div class="prod_price"><span class="price">Quantity:2</span></div>                        
            
</div>
                     
        
</div>





          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Ear Rings</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/j2.png" alt="" title="" border="0" /></a></div>
                                       
            <div class="prod_price"><span class="price">23000</span></div>  
    <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:1</span></div>                        
         </div>
        
</div>



 <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Ring</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/j11.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">74000</span></div>                        
           
    <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:4</span></div>  
</div>                     
        
</div>






          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Bangles</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/j17.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">222000</span></div>                        
            
 <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:3</span></div>  

</div>                     
        
</div>



          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Braclets</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/j13.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">95000</span></div>                        
            
 <div class="prod_status"><span class="price">Excellent</span></div>  
    <div class="prod_price"><span class="price">Quantity:1</span></div>  
</div>                     
        
</div>


          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Ear Rings</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/j2.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">18000</span></div>                        
             <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:2</span></div>  
</div>                     
        
</div>



          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Jewlary</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/j1.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">11000</span></div>                        
            
 <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:1</span></div>  
</div>                     
        
</div>



          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Ear Rings</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/j4.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">55000</span></div>                        
            
 <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:2</span></div>  
</div>                     
        
</div>



          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Bnagles</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/j17.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">12000</span></div>                        
            
 <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:1</span></div>  
</div>                     
        
</div>
    
    
 
 
          
          </div>
