@{
    ViewBag.Title = "v";
    Layout = "~/Views/Shared/_MyLayoutPro.cshtml";

    }
<h2>Vehicle Category</h2>

<div class="center_content">
   	
<div class="center_title_bar">Latest Products</div>
    
    	
<div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Car</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/v.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">672000</span></div>  
    <div class="prod_status"><span class="price">Good Condition</span></div>  
    <div class="prod_price"><span class="price">Quantity:1</span></div>                        
            
</div>
                     
        
</div>





          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Car</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/v3.png" alt="" title="" border="0" /></a></div>
                                       
            <div class="prod_price"><span class="price">23000</span></div>  
    <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:1</span></div>                        
         </div>
        
</div>



 <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Car</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/jeep.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">74000</span></div>                        
           
    <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:4</span></div>  
</div>                     
        
</div>






          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Car</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/v3.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">22000</span></div>                        
            
 <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:1</span></div>  

</div>                     
        
</div>



          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Car</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/v.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">95000</span></div>                        
            
 <div class="prod_status"><span class="price">Excellent</span></div>  
    <div class="prod_price"><span class="price">Quantity:1</span></div>  
</div>                     
        
</div>


          <div class="prod_box">
        	
<div class="top_prod_box"></div>
            
<div class="center_prod_box">            
                 
<div class="product_title"><a href="~/Home/MangoDetails">Car</a></div>
                 
<div class="product_img"><a href="~/Home/MangoDetails">
    <img src="~/Images/v.png" alt="" title="" border="0" /></a></div>
                 
<div class="prod_price"><span class="price">18000</span></div>                        
             <div class="prod_status"><span class="price">Good</span></div>  
    <div class="prod_price"><span class="price">Quantity:2</span></div>  
</div>                     
        
</div>

</div>